<!DOCTYPE html>
<html>
  <head>
    <title>Places App | <%= @title %></title>
  </head>
  <body>
    <h1>About me</h1>
    <p>
      This is part of my degree dissertation.
    </p>
  </body>
</html>
