<!DOCTYPE html>
<html>
  <head>
    <title>Places App | <%= @title %></title>
  </head>
  <body>
    <h1>Contact</h1>
    <p>
      Contact carolgarcia about the places application.
    </p>
  </body>
</html>
