<!DOCTYPE html>
<html>
  <head>
    <title>Places App | <%= @title %></title>
  </head>
  <body>
    <h1>Places App</h1>
    <p>
      This is the home page for the places application.
    </p>
  </body>
</html>
