/* Places */

.place_image {
  float: left;
  padding: 10px;
}

.place_info {
  padding-top: 10px;
}

.place_like_link {
  padding-top: 5px;
}

#place_comments {
  margin: 20px;
  padding-top: 10px;
}

#place_comments .new_comment.new_comment_shown {
  width: 460px;
}

#place_comments .new_comment {
  width: 512px;
}

#place_comments .activity_new_comment {
  display:block;
}

/* Place card */
.place_card {
  text-align: center;
  padding-top: 20px;
}

.place_card_frame {
  text-align: left;
  width: 250px;
  padding: 10px;
  height: 130px;
  border: 2px solid gray;
  border-radius: 6px;
  box-shadow: 4px 4px 3px #AAAAAA;
  margin: auto;
  position: relative;
}

.place_icon {
  float: right;
  margin: 0 0 10px 10px;
}

.place_name {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}

.place_description {
  font-size: 12px;
  position: absolute;
  bottom: 30px;
  left: 20px;
}

.place_options {
  padding-top: 7px;
  text-align:center
}

.more_info {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.revert_info {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.place_card_front {
  display: none;
}

.place_card_back {
  display: none;
}

.place_card_addresstag {
  float: left;
}

.place_card_address {
  margin-left: 50px;
}

.place_card_info {
 margin-bottom: 5px;
}

.place_card_see {
  text-align: right;
}

.place_card_see_text {
  display: inline-block;
}

/* Place item */
.place_list_item {
  margin: 10px 10px 0 10px;
  //border: 2px solid gray;
  border-radius: 8px;
  box-shadow: 0 4px 7px #AAAAAA;
  padding: 10px;
  text-align: left;
  width: 465px;
  min-height: 45px;
  position: relative;
}

.place_list_icon {
  position: absolute;
  top: 50%;
  margin-top: -22px;
}

.place_list_options {
  color: gray;
}

.place_list_comments {
  margin: 0 0 10px 25px;
}

.place_list_name {
  font-size: 18px;
  font-weight: bold;
}

.place_list_content {
  margin-left: 52px;
}

.place_list_actions {
  //text-align: center;
  //margin: 0 10px 10px 10px;
  //width: 490px;
  display: inline-block;
  float: right;
}

.place_list_add {
  display: inline-block;
  float: right;
  margin-top: 9px;
}

.place_list_star {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 10px;
}

.place_star {
  display: inline-block;
  vertical-align: middle;
  margin-top: -18px;
  height: 22px;
  width: 22px;
}
.place_list_city {
  color: #1F4A75;
  font-size: 12px;
  margin-bottom: 2px;
}

.place_list_more {
  margin: 0 10px;
}

.place_list_map {
  display: inline-block;
  margin-top: 16px;
}

.place_list_discover {
  display: inline-block;
}

.on {
  background: #ccc;
  cursor: pointer;
  border-top: solid 2px #eaeaea;
  border-left: solid 2px #eaeaea;
  border-bottom: solid 2px #777;
  border-right: solid 2px #777;
  padding: 5px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.off {
  background: #bbb;
  cursor: pointer;
  border-top: solid 2px #777;
  border-left: solid 2px #777;
  border-bottom:solid 2px  #eaeaea;
  border-right: solid 2px #eaeaea;
  padding: 5px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#button_map {
  margin-left: -5px;
}
