@import "colors";

/*********** Variables ***************/
$list-border: #CDCDCD;
$on-background: #DDDDDD;
$on-border: #CCCCCC;

$big-font: 18px;


/*********** Places wall and infowindow ****************/

.place_like_link {
  padding-top: 5px;
}

/********** Place show y form *************/

#place_comments {
  margin: 20px;
  padding-top: 10px;
}

#place_comments .new_comment.new_comment_shown {
  width: 460px;
}

#place_comments .new_comment {
  width: 512px;
}

#place_comments .activity_new_comment {
  display:block;
}

.place_name {
  font-size: $big-font;
  font-weight: bold;
  color: $main-color;
}

.place_padding {
  padding: 2px;
}

.place_like_margin {
  margin-bottom: -2px;
}

.place_big {
  font-size: $big-font;
  padding: 0 0 5px 5px;
}

.place_options {
  text-align: right;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
}

.place_create {
  margin: 0 0 0 12px;
}

.place_card_info {
 color: gray;
 font-size: 12px;
}

.place_card_see {
  text-align: right;
}

.place_card_see_text {
  display: inline-block;
}

.place_show {
  margin: 0 10px 5px 10px;
  position: relative;
}

.place_show_form {
  margin: 0 10px 0 10px;
  position: relative;
}

.place_show_info {
  display: inline-block;
}

.name_width {
  width: 496px;
}

.street {
  width: 129px;
}

.postalcode {
  width: 69px;
}

.locality, .region, .country {
  width: 90px;
}

.phone_number_width {
  width: 129px;
}

.url_width {
  width: 152px;
}


/**************** Place item and list ********************/

.place_list_item {
  border-bottom: 1px solid $list-border;
  padding: 10px;
  text-align: left;
  min-height: 45px;
  position: relative;
}

.place_list_icon {
  position: absolute;
  top: 50%;
  margin-top: -22px;
}

.place_list_options {
  color: gray;
}

.place_list_content {
  margin-left: 52px;
}

.place_list_add {
  display: inline-block;
  float: right;
}

.place_list_star {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 10px;
}

.place_star {
  display: inline-block;
  vertical-align: middle;
  margin-top: -18px;
  height: 22px;
  width: 22px;
}
.place_list_city {
  color: $main-color;
  font-size: 12px;
  margin-bottom: 2px;
}

.place_list_more {
  margin: 0 10px;
}

.place_list_map {
  display: inline-block;
  margin-top: 7px;
}

.on {
  background: $on-background;
  cursor: pointer;
  border-color: $on-border;
  padding: 6px 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
}

.off {
  @extend .on;
  background: $main-color;
  color: white;
}

.view_selected {
  text-decoration: underline;
}

.view_unselected {
  text-decoration: none;
}

#my_button {
  border-radius: 5px 0 0 5px;
}

#friends_button {
  margin-left: -3px;
  border-width: 0 0 0 1px;
  border-style: solid;
}

#recommended_button {
  @extend #friends_button;
  border-radius: 0 5px 5px 0;
}

#places_container {
  overflow-x: hidden;
  width: 560px;
}

#places, #friends, #recommended {
  width: 1126px;
}

#place_list, #friends_list, #recommended_list {
  display: inline-block;
  width: 560px;
  vertical-align: top;
  border-top: 1px solid $list-border;
}

#place_map, #friend_map, #recommended_map {
  display: inline-block;
  width: 560px;
  vertical-align: top;
}

.hidden {
  display: none;
}

.offscreen {
  display: block;
  position: absolute;
  left: -10000px;
}

.place_contact_logo {
  padding: 1px;
  display: inline-block;
}

.watermark {
  color: $auxiliar-color;
}

.place_window_title {
  font-size: 13px;
  font-weight: bold;
}