<div class="place_show_info">
	<div class="place_name"><%= @place.title %></div>
	<div class="place_card_info">
		<%= @place.address.formatted %>
	</div>
	<div class="place_card_info">
		<%= @place.phone_number %> ·  
		<%= link_to @place.url, @place.url, :target => "_blank" %>
	</div>
</div>